$black: #000000 !default;


$font-family-base: 'Raleway', sans-serif !default;
$font-family-gotham: 'Gotham Pro', sans-serif !default;
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 1.2;
$body-color: $black;
$body-bg: #fff;

$headings-margin-bottom: 20px;

$paragraph-margin-bottom: 20px;


$dt-font-weight: 700;
$font-weight-bolder: 700;

// link
$link-color: red;
$link-decoration: none;

$link-hover-color: blue;
$link-hover-decoration: underline;

// captions
$table-cell-padding: 20px;
$table-caption-color: $black;

$label-margin-bottom: 20px;

