@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");

@font-face {
    font-family: 'Gotham Pro';
    src: url("/fonts/GothamPro-Medium.eot");.fsc
src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("/fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro-Medium.woff") format("woff"), url("/fonts/GothamPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #000000;
    text-align: left;
    background-color: #fff;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 10px;
}

sub,
sup {
    position: relative;
    font-size: 10px;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

a {
    color: red;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre,
code,
kbd,
samp {
    font-size: 12px;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 20px;
}

button {
    border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 16px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #FFF;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    /**
         * Remove all paddings around the image on small screen
         */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    color: transparent;
    background-size: 70% !important;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}

.slick-prev:before {
    content: "←";
}

[dir="rtl"] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: -25px;
}

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}

.slick-next:before {
    content: "→";
}

[dir="rtl"] .slick-next:before {
    content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}

body {
    margin: 0;
}

section {
    margin-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.header .container,
.text-block .container {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

*:focus {
    outline: none;
}

.blue-button {
    text-transform: uppercase;
    border: 0;
    font-size: 12px;
    border-radius: 50px;
    color: white;
    padding: 13px 30px;
    background-color: #2ec1e0;
    box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.32);
    transition: .3s;
}

.blue-button:hover, .blue-button:focus {
    cursor: pointer;
    color: #2ec1e0;
    background-color: white;
    box-shadow: 0 0 1px 1px #2ec1e0 !important;
}

.half-width {
    width: 100%;
}

.block-header {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    color: #b0b1b1;
}

.line {
    width: 40px;
    height: 2px;
    background-color: #e1e1e1;
    margin: 0 0 0 15px;
    color: #b0b1b1;
}

@media only screen and (min-width: 768px) {
    .line {
        width: 80px;
    }

    .section {
        margin-bottom: 60px;
    }
}

@media (min-width: 1170px) {
    .container {
        padding: 0 30px;
    }

    .half-width {
        width: 50%;
    }
}

form {
    box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.32);
    background-color: #fff;
    position: relative;
}

form textarea,
form input {
    padding: 10px 0;
    border: none;
}

form input {
    border-bottom: 1px solid #cccccc;
}

form input:focus-within {
    border-color: #000;
}

form .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
}

form .posttitle {
    margin-bottom: 25px;
}

form .blue-button {
    max-width: 105px;
}

form .blue-button:hover {
    cursor: pointer;
}

form img {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
}

.top-popup {
    width: 290px;
    margin: 0 auto;
}

#top-form {
    text-align: center;
    padding: 30px 30px 40px;
}

#top-form input {
    width: 100%;
    margin-bottom: 20px;
}

#top-form .blue-button {
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

#bottom-form {
    padding: 30px 15px;
    box-shadow: -5px 1px 20px 3px rgba(0, 0, 0, 0.32);
    position: absolute;
    z-index: 5;
    right: 0;
    top: 140px;
    width: 100%;
}

#bottom-form .posttitle {
    margin-bottom: 30px;
}

#bottom-form .input-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

#bottom-form .input-wrapper input {
    width: 100%;
}

#bottom-form textarea {
    width: 100%;
    height: 85px;
    resize: none;
    background-image: url("/img/textarea-bg.png");
    background-position: bottom;
    background-repeat: repeat;
    line-height: 2;
    margin-bottom: 20px;
    padding: 0;
}

#bottom-form .btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    #bottom-form {
        box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.32);
        padding: 35px;
        width: 570px;
    }

    #bottom-form .input-wrapper {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #bottom-form .input-wrapper input {
        width: 212px;
    }
}

.rsp_popup {
    box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 200px;
    background: #ffffff;
    margin: 0 auto;
}

.rsp_popup > img {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
}

.rsp_popup.half-width {
    padding: 90px 20px 150px;
}

.rsp_popup-content {
    text-align: center;
}

.rsp_popup-content img {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .rsp_popup {
        width: 580px;
        height: 350px;
    }
}

.hdr {
    padding: 5px 15px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.hdr .blue-button {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.32);
    display: none;
}

.hdr.sticky, .hdr.sticky-revert {
    animation-timing-function: linear;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.hdr.sticky-revert {
    animation-name: hdr-anim-revert;
}

.hdr.sticky {
    animation-name: hdr-anim;
}

@keyframes hdr-anim {
    from {
        top: -100px;
        background-color: rgba(255, 255, 255, 0.01);
    }
    to {
        top: 0;
        background-color: white;
    }
}

@keyframes hdr-anim-revert {
    from {
        background-color: white;
    }
    to {
        top: 0;
        background-color: transparent;
    }
}

.hdr-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hdr-left {
    display: flex;
    align-items: center;
}

.hdr-logo {
    width: 50px;
}

.hdr-logo img {
    width: 100%;
}

.hdr nav ul {
    display: flex;
}

.hdr nav ul li.active {
    color: #23c1e3;
}

.hdr nav ul li a {
    text-decoration: none;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-family: "Gotham Pro", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 20px;
    transition: .2s;
}

.hdr nav ul li a:hover, .hdr nav ul li a:focus {
    cursor: pointer;
    color: #23c1e3;
}

@media (min-width: 768px) {
    .hdr {
        padding: 10px 30px;
    }

    .hdr-logo {
        width: 80px;
    }

    .hdr.sticky .blue-button {
        display: block;
    }

    .hdr nav ul li a {
        font-size: 14px;
        margin-left: 60px;
    }
}

.fsc {
    position: relative;
}

.fsc_devices-xs, .fsc_devices-md, .fsc_devices-lg {
    position: absolute;
    z-index: 5;
    right: 0;
}

.fsc_devices-xs {
    display: block;
    top: 195px;
    width: 80%;
    max-width: 280px;
}

.fsc_devices-md, .fsc_devices-lg {
    display: none;
}

.fsc_bg {
    min-height: 700px;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.fsc_wrapper {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

.fsc_wrapper-content {
    max-width: 500px;
}

.fsc_wrapper-content h1 {
    text-shadow: 0px 8px 6px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 24px;
}

.fsc_wrapper-content h1 span {
    color: #2ec1e0;
}

.mfp-wrapper {
    text-align: center;
}

.mfp-wrapper .top-popup {
    position: relative;
    display: inline-block;
}

.mfp-wrapper .top-popup form {
    display: inline-block;
}

@media (min-width: 768px) {
    .fsc_bg {
        min-height: 500px;
    }

    .fsc_devices-xs {
        display: none;
    }

    .fsc_devices-md {
        display: block;
        top: 90px;
        width: 60%;
        max-width: 450px;
    }

    .fsc_wrapper {
        top: 150px;
    }
}

@media (min-width: 1170px) {
    .fsc_wrapper {
        top: 220px;
    }

    .fsc_wrapper h1 {
        font-size: 36px;
    }

    .fsc_devices-xs, .fsc_devices-md {
        display: none;
    }

    .fsc_devices-lg {
        display: block;
        top: 0;
        width: 45%;
        max-width: 600px;
    }
}

.abt {
    font-size: 14px;
}

.abt-text {
    margin-bottom: 20px;
}

.abt-title {
    padding-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.abt_team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.abt_team-item {
    background-repeat: no-repeat;
    width: 50%;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.abt_team-item .title {
    text-align: center;
    margin: 15px 0;
}

.abt_team-item .title span {
    font-weight: 700;
    margin-right: 10px;
}

.abt_team-item .img img {
    width: 100%;
}

@media (min-width: 768px) {
    .abt {
        font-size: 16px;
    }

    .abt-text {
        margin-bottom: 40px;
    }

    .abt_team {
        margin: 0;
        justify-content: space-around;
    }

    .abt_team-item {
        background-image: url("/img/assets/team-photo-decor.png");
        margin: 30px 10px;
        width: 40%;
    }

    .abt_team-item:nth-child(even) {
        flex-direction: column;
    }

    .abt .top-right-decor {
        background-position-x: right;
    }

    .abt .bottom-left-decor {
        background-position-y: bottom;
    }

    .abt .bottom-right-decor {
        background-position-y: 70%;
        background-position-x: right;
    }

    .abt .top-right-decor-low {
        background-position-y: 30%;
        background-position-x: right;
    }
}

@media (min-width: 1170px) {
    .abt_team-item {
        width: 250px;
    }
}

.tech-stack .slick-list {
    margin: 20px 0 !important;
}

.tech-stack-logos {
    display: flex;
}

.tech-stack-logos div img {
    width: 70%;
    margin: 0 auto;
}

.tech-stack .slick-initialized .slick-slide {
    display: flex;
    height: 108px;
    align-items: center;
}

.tgl_content {
    max-height: 500px;
    overflow: hidden;
    padding-top: 40px;
    display: flex;
}

.tgl_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tgl_content_left {
    width: 75%;
}

.tgl_content_left .row {
    display: flex;
}

.tgl_content_left .row:last-child .tgl_content_left-item {
    width: 50%;
}

.tgl_content-right {
    width: 25%;
}

.review {
    margin-bottom: 40px;
}

.review-bottom .review-item {
    flex-direction: column-reverse;
}

.review-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}

.review-item .left-bg,
.review-item .right-bg {
    position: relative;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 20px;
    height: 320px;
}

.review-item .left-bg {
    background-image: url("/img/left-decor-xs.png");
    background-position-x: left;
    left: -15px;
}

.review-item .left-bg img:first-child {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 50px;
    width: 250px;
}

.review-item .left-bg img:nth-child(2), .review-item .left-bg img:nth-child(3) {
    position: absolute;
    z-index: 5;
}

.review-item .left-bg img:nth-child(2) {
    left: 20px;
    width: 85px;
    animation: 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate left-anim;
}

.review-item .left-bg img:nth-child(3) {
    left: 170px;
    width: 130px;
    animation: 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate right-anim;
}

@keyframes left-anim {
    from {
        bottom: 0%;
    }
    to {
        bottom: 20%;
    }
}

@keyframes right-anim {
    from {
        top: 5%;
    }
    to {
        top: 20%;
    }
}

.review-item .right-bg {
    background-image: url("/img/right-decor-xs.png");
    background-position-x: right;
    right: -15px;
}

.review-item .right-bg img:first-child {
    width: 200px;
    position: absolute;
    z-index: 2;
    bottom: 20%;
    right: 15%;
}

.review-item .right-bg img:nth-child(2), .review-item .right-bg img:nth-child(3) {
    position: absolute;
    z-index: 5;
    width: 120px;
}

.review-item .right-bg img:nth-child(2) {
    right: 180px;
    animation: 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate second-left-anim;
}

.review-item .right-bg img:nth-child(3) {
    right: 10px;
    animation: 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate second-right-anim;
}

@keyframes second-left-anim {
    from {
        bottom: 35%;
    }
    to {
        bottom: 26%;
    }
}

@keyframes second-right-anim {
    from {
        bottom: 10%;
    }
    to {
        bottom: 22%;
    }
}

.review-title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 16px;
}

.review-desc {
    margin-bottom: 20px;
    font-size: 16px;
}

.review_response {
    background-color: #f2fcfe;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
}

.review_response p {
    font-style: italic;
    margin-bottom: 20px;
    color: #7d7e7f;
}

.review_response_user {
    display: flex;
    align-items: center;
}

.review_response_user .user-img {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.review_response_user .user-img img {
    width: 100%;
    height: 100%;
}

.review_response_user .user_desc {
    display: flex;
    flex-wrap: wrap;
}

.review_response_user .user_desc-name {
    font-weight: 700;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .review-item .left-bg {
        height: 570px;
    }

    .review-item .right-bg {
        height: 680px;
        background-image: url("/img/right-decor.png");
    }

    .review-item .right-bg img:first-child {
        width: 330px;
    }

    .review-item .right-bg img:nth-child(2) {
        width: 200px;
        right: 340px;
    }

    .review-item .right-bg img:nth-child(3) {
        width: 200px;
        right: 50px;
    }

    .review-item .left-bg {
        background-image: url("/img/left-decor.png");
    }

    .review-item .left-bg img:first-child {
        width: 490px;
    }

    .review-item .left-bg img:nth-child(2) {
        width: 120px;
    }

    .review-item .left-bg img:nth-child(3) {
        width: 300px;
    }
}

@media (min-width: 1170px) {
    .review-top {
        background-position: left;
        background-repeat: no-repeat;
        background-image: url("/img/left-decor.png");
    }

    .review-bottom {
        background-position: right;
        background-repeat: no-repeat;
        background-image: url("/img/right-decor.png");
    }

    .review-bottom .review-item {
        flex-direction: row;
    }

    .review-item {
        margin-bottom: 0;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .review-item .left-bg,
    .review-item .right-bg {
        margin-bottom: 0;
        background-image: none;
    }

    .review-item .left-bg {
        height: 560px;
        left: -30px;
    }

    .review-item .left-bg img:nth-child(2) {
        left: 0;
    }

    .review-item .left-bg img:nth-child(3) {
        right: 10px;
    }

    .review-item .right-bg {
        right: -30px;
    }
}

.adr_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-top: 25px;
}

.adr_content-map {
    height: 450px;
}

.adr_content-map #map {
    height: 100%;
    width: 100%;
}

.adr_content iframe .gm-style-mtc > div,
.adr_content iframe .gmnoprint > div,
.adr_content iframe .gm-svpc {
    display: none;
}

.adr_content-data {
    position: relative;
}

.adr_content-data ul {
    background-image: url("/img/contact-decor.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 20px;
    margin-right: -15px;
    font-size: 16px;
    width: 100%;
    height: 450px;
}

.adr_content-data ul li:not(:last-child) {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .fsc_bg {
        min-height: 300px;
    }

    .adr {
        margin-bottom: 0;
    }

    .adr_content-map {
        margin: 0 -15px;
    }
}

@media (min-width: 768px) {
    .adr_content {
        padding-bottom: 100px;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .adr_content-data {
        display: flex;
        justify-content: flex-end;
    }

    .adr_content-data ul {
        width: 420px;
        height: 390px;
    }

    .adr_content #map {
        margin-left: -30px;
    }
}

@media (min-width: 1170px) {
    .adr_content-data ul {
        margin-right: -30px;
    }

    .adr_content #map {
        margin-left: 0;
    }
}

.ftr {
    background-color: #202020;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ftr-logo {
    margin-bottom: 10px;
}

.ftr-rights {
    color: #ffffff;
    font-size: 12px;
    opacity: 0.2;
}
