form {
  box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.32);
  background-color: #fff;
  position: relative;

  textarea,
  input {
    padding: 10px 0;
    border: none;
  }

  input {
    border-bottom: 1px solid #cccccc;

    &:focus-within {
      border-color: #000;
    }
  }

  .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .posttitle {
    margin-bottom: 25px;
  }

  .blue-button {
    max-width: 105px;
  }

  img {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
  }

}

#top-form {
  text-align: center;
  padding: 30px 30px 40px;
  width: 290px;
  margin: 0 auto;

  input {
    width: 100%;
    margin-bottom: 20px;
  }

  .blue-button {
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }
}

#bottom-form {
  padding: 30px 15px;
  box-shadow: -5px 1px 20px 3px rgba(0, 0, 0, 0.32);
  position: absolute;
  z-index: 5;
  right: 0;
  top: 140px;
  width: 100%;

  .posttitle {
    margin-bottom: 30px;
  }

  .input-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    input {
      width: 100%;

    }
  }

  textarea {
    width: 100%;
    height: 85px;
    resize: none;
    background-image: url('/img/textarea-bg.png');
    background-position: bottom;
    background-repeat: repeat;
    line-height: 2;
    margin-bottom: 20px;
    padding: 0;
  }

  .btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  #bottom-form {
    box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.32);
    padding: 35px;
    width: 570px;

    .input-wrapper {
      flex-wrap: nowrap;
      justify-content: space-between;

      input {
        width: 212px;
      }
    }
  }
}