body {
  margin: 0;
}
section {
  margin-bottom: 50px;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.header .container,
.text-block .container {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
*:focus {
  outline: none;
}

.blue-button {
  text-transform: uppercase;
  border: 0;
  font-size: 12px;
  border-radius: 50px;
  color: white;
  padding: 13px 30px;
  background-color: rgb(46, 193, 224);
  box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.32);
  transition: .3s;

  &:hover,
  &:focus {
    cursor: pointer;
    color: rgb(46, 193, 224);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1px 1px rgb(46, 193, 224)!important;
  }
}

.half-width {
  width: 100%;
}

.block-header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  color: #b0b1b1;
}

.line {
  width: 40px;
  height: 2px;
  background-color: #e1e1e1;
  margin: 0 0 0 15px;
  color: #b0b1b1;

}

@media only screen and (min-width: 768px)  {
  .line {
    width: 80px;
  }
  .section {
    margin-bottom: 60px;
  }
}
@media (min-width: 1170px) {
  .container {
    padding: 0 30px;
  }
  .half-width {
    width: 50%;
  }
}

