.hdr {
  padding: 5px 15px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;

  .blue-button {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.32);
    display: none;
  }

  &.sticky {
    animation: hdr-anim .8s linear normal forwards 1;
  }
  @keyframes hdr-anim {
    from {
      top: -100px;
      background-color: rgba(255, 255,255, 0.01);
    }
    to {
      top: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.9)80%,rgba(255, 255, 255, 0.01)100%);
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-left {
    display: flex;
    align-items: center;
  }
  &-logo {
    width: 50px;

    img {
      width: 100%;

    }
  }

  nav {
    ul {
      display: flex;

      li
      {
        &.active {
          color: #23c1e3;
        }

        a {
          text-decoration: none;
          flex-grow: 1;
          display: flex;
          align-items: center;
          font-family: $font-family-gotham;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          margin-left: 20px;
          transition: .2s;


          &:hover,
          &:focus {
            cursor: pointer;
            color: #23c1e3;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .hdr {
    padding: 10px 30px;
    &-logo {
      width: 80px;
    }
    &.sticky {
      .blue-button {
        display: block;
      }
    }
    nav ul li a {
      font-size: 14px;
      margin-left: 60px;
    }
  }
}


