.hdr {
  padding: 5px 15px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;

  &.projects {
    background-color: white;

    .blue-button {
      display: none;
    }

    nav {
      ul {
        li {
          a[href*="projects"] {
            color: $main-blue;
          }
        }
      }
    }
  }

  .blue-button {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.32);
    display: none;
  }

  &.sticky,
  &.sticky-revert {

    animation-timing-function: linear;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  &.sticky-revert {
    animation-name: hdr-anim-revert;
  }

  &.sticky {
    animation-name: hdr-anim;
  }

  @keyframes hdr-anim {
    from {
      top: -100px;
      background-color: rgba(255, 255, 255, 0.01);
    }
    to {
      top: 0;
      background-color: rgba(255, 255, 255, 1);
    }
  }
  @keyframes hdr-anim-revert {
    from {
      background-color: rgba(255, 255, 255, 1);
    }
    to {
      top: 0;
      background-color: transparent;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-left {
    display: flex;
    align-items: center;
  }

  &-logo {
    width: 50px;

    img {
      width: 100%;

    }
  }

  nav {
    ul {
      display: flex;

      li {
        &.active {
          color: $main-blue;
        }

        a {
          flex-grow: 1;
          display: flex;
          align-items: center;
          font-family: $font-family-gotham;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          margin-left: 20px;
          transition: .2s;


          &:hover,
          &:focus {
            cursor: pointer;
            color: $main-blue;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .hdr {
    padding: 10px 30px;

    &.projects {
      background-color: white;

      .blue-button {
        display: block;
      }
    }

    &-logo {
      width: 80px;
    }

    &.sticky {
      .blue-button {
        display: block;
      }
    }

    nav ul li a {
      font-size: $font-size-base;
      margin-left: 60px;
    }
  }
}


