.review {
  display: flex;
  margin-bottom: 40px;

  &-item {
    display: flex;
    align-items: center;

    .left-bg {
      height: 560px;

      img:first-child {
        position: absolute;
        z-index: 2;
        left: 50px;
      }

      img:nth-child(2) {
        position: absolute;
        z-index: 5;
        left: 0;
        animation: 3s infinite alternate left-anim;
      }

      @keyframes left-anim {
        from {
          bottom: 8%;
        }
        to {
          bottom: 20%;
        }
      }


      img:nth-child(3) {
        position: absolute;
        z-index: 5;
        right: 10px;
        animation: 3s infinite alternate right-anim;
      }

      @keyframes right-anim {
        from {
          top: 5%;
        }
        to {
          top: 20%;
        }
      }
    }

    .right-bg {
      height: 675px;
      img:first-child {
        position: absolute;
        z-index: 2;
        bottom: 20%;
        right: 15%;
      }

      img:nth-child(2) {
        position: absolute;
        z-index: 5;
        left: 8%;
        animation: 3s infinite alternate second-left-anim;
      }

      @keyframes second-left-anim {
        from {
          bottom: 26%;
        }
        to {
          bottom: 35%;
        }
      }

      img:nth-child(3) {
        position: absolute;
        z-index: 5;
        right: 6%;
        animation: 3s infinite alternate second-right-anim;
      }

      @keyframes second-right-anim {
        from {
          bottom: 22%;
        }
        to {
          bottom: 10%;
        }
      }
    }
  }

  &-title {
    margin-bottom: 18px;
    font-weight: 700;
  }

  &-desc {
    margin-bottom: 20px
  }

  &_response {
    background-color: #f2fcfe;
    border-radius: 10px;
    padding: 20px;

    p {
      font-style: italic;
      margin-bottom: 20px;
    }

    &_user {
      display: flex;
      align-items: center;

      &-img {
        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
        margin-right: 12px;
      }

      &-name {
        font-weight: 700;
        margin-right: 6px;
      }
    }
  }
}

