.tech-stack {
  .slick-list {
    width: 100%;
    margin: 20px 0 !important;
  }

  &-logos {
    display: flex;
    div {
      height: 108px;

      img {
        opacity: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .slick-initialized .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 108px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      max-width: 100px;
      opacity: 1;
      transition: 5s;
    }
  }
}

