.tech-stack {
  .slick-list {
    margin: 20px 0!important;
  }
  &-logos {
    display: flex;
    div {
      img {
        margin: 0 auto;
      }
    }
  }
  .slick-initialized .slick-slide {
    display: flex;
    height: 108px;
    align-items: center;
  }
}